<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>8.0</string>
	<key>SD5ConversionOffered</key>
	<false/>
	<key>SDAddUsedFrameworksOnExport</key>
	<integer>0</integer>
	<key>SDAddUsedLibrariesOnExport</key>
	<integer>0</integer>
	<key>SDAutoIncBuildNumber</key>
	<false/>
	<key>SDAutoIncBuildNumberOnExport</key>
	<false/>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<true/>
	<key>SDBundleVersion</key>
	<string>2.0</string>
	<key>SDCocoaTermsInProperties</key>
	<true/>
	<key>SDDebuggingEnabled</key>
	<false/>
	<key>SDDocumentVersion</key>
	<integer>841887800</integer>
	<key>SDExportAdHocSign</key>
	<false/>
	<key>SDFolds</key>
	<string>YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0
b3ASAAGGoKMHCA1VJG51bGzSCQoLDFpOUy5vYmplY3RzViRjbGFzc6CAAtIODxAR
WiRjbGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlY
TlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdUcm9vdIABCBEaIy0yNztBRlFY
WVtga3SDh4+Yqq2yAAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=</string>
	<key>SDHideCodeFolding</key>
	<false/>
	<key>SDMakeScriptsRunOnlyOnExport</key>
	<integer>0</integer>
	<key>SDWindowState</key>
	<dict>
		<key>eventLogWindow</key>
		<dict/>
		<key>resultWindow</key>
		<dict/>
		<key>traceDelay</key>
		<real>0.80000001192092896</real>
		<key>viewControllers</key>
		<dict>
			<key>D8B376BD-F318-4E71-A370-86114F83D9FF-13435-000008160275EE25</key>
			<dict>
				<key>debuggerViewState</key>
				<dict>
					<key>expressionsState</key>
					<dict>
						<key>dividerPos</key>
						<real>61</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
					<key>heights4</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>319</integer>
								<integer>408</integer>
								<integer>161</integer>
							</array>
							<key>5</key>
							<array>
								<integer>251</integer>
								<integer>104</integer>
								<integer>319</integer>
								<integer>81</integer>
								<integer>127</integer>
							</array>
						</dict>
					</dict>
					<key>resultState</key>
					<dict>
						<key>explorerState</key>
						<dict>
							<key>dividerPos</key>
							<real>150</real>
							<key>scope2.changedItems</key>
							<integer>1</integer>
							<key>scope2.emptyElements</key>
							<integer>0</integer>
							<key>scope2.filledElements</key>
							<integer>1</integer>
							<key>scope2.props</key>
							<integer>1</integer>
							<key>scope2.unchangedItems</key>
							<integer>1</integer>
							<key>showScopeBar</key>
							<integer>1</integer>
						</dict>
						<key>fileSpecState</key>
						<dict/>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
						<key>textState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>55</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<false/>
								<key>LNSTextViewShowSpaces</key>
								<false/>
								<key>LNSTextViewShowTabStops</key>
								<false/>
								<key>LNSTextViewWrapLines</key>
								<true/>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {152, 289}}</string>
							</dict>
						</dict>
					</dict>
					<key>stackVisible</key>
					<false/>
					<key>variablesState</key>
					<dict>
						<key>dividerPos</key>
						<real>61</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
				</dict>
				<key>eventLogHeight</key>
				<real>174</real>
				<key>inspectorsViewState</key>
				<dict>
					<key>applications</key>
					<dict>
						<key>dividerPos2</key>
						<real>144</real>
						<key>searchFlags</key>
						<integer>167784446</integer>
					</dict>
					<key>clippings</key>
					<dict/>
					<key>heights3</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>320</integer>
								<integer>293</integer>
								<integer>289</integer>
							</array>
						</dict>
					</dict>
					<key>tellContext</key>
					<dict>
						<key>explorer</key>
						<dict>
							<key>dividerPos</key>
							<real>291</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>mainSplit%</key>
				<real>0.85870480537414551</real>
				<key>mainSplitPosition</key>
				<real>168</real>
				<key>modeIdentifier</key>
				<string>tab.debug</string>
				<key>resourcesViewState</key>
				<dict>
					<key>heights2</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>2</key>
							<array>
								<integer>339</integer>
								<integer>613</integer>
							</array>
						</dict>
					</dict>
					<key>resources</key>
					<dict>
						<key>expanded</key>
						<array/>
						<key>selection</key>
						<array/>
					</dict>
				</dict>
				<key>scriptViewState</key>
				<dict>
					<key>editorState</key>
					<dict>
						<key>LNSSelection</key>
						<array>
							<dict>
								<key>length</key>
								<integer>0</integer>
								<key>location</key>
								<integer>835</integer>
							</dict>
						</array>
						<key>LNSTextViewShowInvisibles</key>
						<false/>
						<key>LNSTextViewShowSpaces</key>
						<false/>
						<key>LNSTextViewShowTabStops</key>
						<false/>
						<key>LNSTextViewWrapLines</key>
						<false/>
						<key>LNSVisibleRect</key>
						<string>{{0, 274}, {975, 886}}</string>
						<key>ShowLineNumbers</key>
						<false/>
						<key>showCodeCoverage</key>
						<false/>
					</dict>
					<key>instanceID</key>
					<string>8F6C2890-5250-4592-948B-1EA973E1F594-1122-000012FEFD0EC049</string>
					<key>resultBarVisible</key>
					<false/>
					<key>showProgressBar</key>
					<true/>
				</dict>
				<key>showEventLog</key>
				<false/>
				<key>tabHeights</key>
				<dict>
					<key>tab.bps</key>
					<real>433</real>
					<key>tab.debug</key>
					<real>439</real>
					<key>tab.rsrcs</key>
					<real>433</real>
				</dict>
				<key>tabsHidden</key>
				<false/>
				<key>windowControllerID</key>
				<string>D8B376BD-F318-4E71-A370-86114F83D9FF-13435-000008160275EE25</string>
				<key>windowFrame</key>
				<string>585 54 1189 967 0 0 2560 1417 </string>
			</dict>
		</dict>
		<key>windowControllers</key>
		<array>
			<dict>
				<key>controllerClass</key>
				<string>SD8ScriptWindowController</string>
				<key>controllerID</key>
				<string>D8B376BD-F318-4E71-A370-86114F83D9FF-13435-000008160275EE25</string>
				<key>controllerState</key>
				<dict>
					<key>miniaturized</key>
					<false/>
					<key>timerShowsDetail</key>
					<false/>
					<key>windowFrame</key>
					<string>585 54 1189 967 0 0 2560 1417 </string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
